<div class="row">
    <div class="col-md-12">
        <br><br>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            <img 
                src="../../assets/images/profile.jpg" 
                class="image-profile"
                alt="Avatar"
            >
            <br>
            <p class="myName">Sergio Pérez Sánchez</p>
            <p class="myDegree">Graduado en Ingeniería Informática - Ingeniero de Software</p>
            <br>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <a href="https://www.linkedin.com/in/sergio-perez-sanchez/">
                                <img 
                                    src="../../assets/images/linkedin.png" 
                                    class="image-option"
                                    alt="LINKEDIN"
                                >
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <a href="https://twitter.com/SergioPS1993">
                                <img 
                                    src="../../assets/images/twitter.png" 
                                    class="image-option"
                                    alt="TWITTER"
                                >
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <a href="https://sites.google.com/site/sergioperezsanchez1993/">
                                <img 
                                    src="../../assets/images/myWebsite.jpg" 
                                    class="image-option"
                                    alt="MY WEBSITE"
                                >
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <a href="https://about.me/sergioperezsanchez">
                                <img 
                                    src="../../assets/images/aboutMe.jpg" 
                                    class="image-option"
                                    alt="ABOUT.ME"
                                >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>