<div class="color-background">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12">
                                <img 
                                    src="../../assets/images/profile.jpg" 
                                    class="image-profile"
                                    alt="Avatar"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12">
                                <br>
                                <p class="myName">Sergio Pérez Sánchez</p>
                                <p class="myDegree">
                                    Graduado en Ingeniería Informática
                                    <br>
                                    Ingeniero de Software
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-extract">
                            <br><br><br>
                            Me llamo Sergio y soy Graduado en Ingeniería Informática por la Escuela Superior de Informática de Ciudad Real (ESI - UCLM).
                            <br>
                            Actualmente, estoy trabajando en Minsait (INDRA).
                            <br>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="subtitle-sites">
                            <br><br>
                            MIS SITIOS WEB
                            <br><br><br>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="https://www.linkedin.com/in/sergio-perez-sanchez/">
                                    <img 
                                        src="../../assets/images/linkedin.png" 
                                        class="image-option"
                                        alt="LINKEDIN"
                                    >
                                    <br>
                                    <p class="text-option">LINKEDIN</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="https://twitter.com/SergioPS1993">
                                    <img 
                                        src="../../assets/images/twitter.png" 
                                        class="image-option"
                                        alt="TWITTER"
                                    >
                                    <br>
                                    <p class="text-option">TWITTER</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="https://sites.google.com/site/sergioperezsanchez1993/">
                                    <img 
                                        src="../../assets/images/myWebsite.jpg" 
                                        class="image-option"
                                        alt="MY WEBSITE"
                                    >
                                    <br>
                                    <p class="text-option">MI ANTIGUA WEB</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="https://about.me/sergioperezsanchez">
                                    <img 
                                        src="../../assets/images/aboutMe.jpg" 
                                        class="image-option"
                                        alt="ABOUT.ME"
                                    >
                                    <br>
                                    <p class="text-option">ABOUT.ME</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-extract">
                            <br><br><br>
                            Me encuentro desarrollando mi nueva página web. Puedes visitar el desarrollo, aquí:
                            <br><br>
                            ENTRAR
                            <br>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br><br><br><br><br><br>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>