div.color-background {
    background-image: linear-gradient(#C0FEFF,#17268B);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img.image-profile{
    border-radius: 50%;
    width: 200px;
    height: auto;
    display: block;
    margin: auto;
}

p.myName{
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
    font-size: 30px;
    color: #4CBE4F;
}

p.myDegree{
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
    font-size: 20px;
    color: #4CBE4F;
}

p.text-extract{
    text-align: center;
    font-family: Verdana;
    font-size: 15px;
    color: black;
}

p.subtitle-sites{
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

p.text-option{
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    color: black;
}

img.image-option{
    display: block;
    margin: auto;
    height: 75px;
    width:auto;
}

a.button-enter {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  div.frame-one:hover {
      border: 10px solid #7AD77D;
      border-radius: 25px;
  }

  div.frame-two:hover {
    border: 10px solid #E3DB6C;
    border-radius: 25px;
}

div.frame-three:hover {
    border: 10px solid #FF6262;
    border-radius: 25px;
}

div.frame-four:hover {
    border: 10px solid #EC9F5F;
    border-radius: 25px;
}

  a.option-selected{
      text-decoration: none;
  }